<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Owner - Diner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/owner.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="diner">
    <!-- Header -->
    <ng-include src="'views/common/header.html'"></ng-include>

    <!-- Main Page -->
    <div class="page">
        <ng-view></ng-view>
    </div>

    <!-- Details Dialog -->
    <div class="det-dlg" ng-controller="DetailsDialogCtrl as det">
        <div class="form">
            <div class="title">Reservation Details</div>
            <span ng-hide="det.guest.assign">Confirmation #</span>
            <div class="cnf" ng-hide="det.guest.assign">{{det.guest.cnf}}</div>
            <span>Name</span><div><input type="text" ng-model="det.guest.name"></div>
            <span>Date</span><div><input type="date" ng-model="det.guest.stamp"></div>
            <span>Time</span><div><input type="time" ng-model="det.guest.stamp"></div>
            <span>Phone</span><div><input type="tel" ng-model="det.guest.phone"></div>
            <span>Email</span><div><input type="email" ng-model="det.guest.email"></div>
            <span># People</span><div><input type="number" ng-model="det.guest.people"></div>
            <span>Special needs</span><div><input type="text" ng-model="det.guest.special"></div>
            <div class="ctrl">
                <a ng-click="det.delete()" ng-hide="det.guest.noedit">Delete</a>
                <button ng-click="det.save()" ng-hide="det.guest.noedit">Save</button>
                <button ng-click="det.close()">Close</button>
                <button ng-click="det.assign()" ng-show="det.guest.assign">Assign</button>
            </div>
        </div>
    </div>

    <script src="js/lib/ng.js"></script>
    <script src="js/lib/ng-route.js"></script>
    <script src="js/lib/ng-animate.js"></script>

    <script src="js/diner.module.min.js"></script>

    <script src="js/core/routers/diner.router.min.js"></script>

    <script src="js/core/filters/range.filter.min.js"></script>
    <script src="js/core/filters/ascii.filter.min.js"></script>
    <script src="js/core/filters/padding.filter.min.js"></script>
    <script src="js/core/services/dialog.service.min.js"></script>
    <script src="js/core/controllers/head.controller.min.js"></script>

    <script src="js/owner/services/pages.factory.js"></script>
    <script src="js/owner/controllers/seat.controller.min.js"></script>
    <script src="js/owner/controllers/reserve.controller.min.js"></script>
    <script src="js/owner/controllers/contact.controller.min.js"></script>
    <script src="js/owner/controllers/details-dlg.controller.min.js"></script>
</body>
</html>
