<div class="form home">
    <h1>Welcome to Diner!</h1>
    <p>
        Make a reservation and enjoy your food with your family.
        We provide the finest services and variety of dishes from all over the world
    </p>
    <p>We are open all days, 10:00 AM to 10:00 PM. Go to Guest to make a reservation</p>
    <p>
        <span class="label">Ph:</span><a href="tel:789-456-1230">789-456-1230</a>
        <span class="label">Email:</span><a href="mailto:someone@diner.com">someone@diner.com</a>
        <span class="label">Address:</span>1234 56th Street, NY
    </p>
</div>