<!-- Owner Login Page -->
<div class="form log">
    <div class="title">log in</div>
    <div class="col f">
        <span>email address</span>
        <input type="email" placeholder="someone@mail.com">
    </div>
    <div class="col f">
        <span>password</span>
        <input type="password" placeholder="Enter Password">
    </div>
    <div class="col h">
        <button ng-click="log.login()">Login</button>
    </div>
    <div class="col h opt short">
        <a ng-click="log.frgtPass()">Forgot password?</a>
    </div>
</div>